.header {
  color: red;
  font-family: "Montserrat";
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  vertical-align: middle;

  .nav {
    font-size: 16px;
    line-height: 20px;
    a {
      //   color: #ffffff;
      color: #fff;
      text-decoration: none;
    }
  }
  .tel_number {
    color: orange;
    font-weight: 600;
    white-space: nowrap;
    p {
      margin: 0;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  li {
    margin: 0px 48px 0px 0px;
    list-style-type: none;
  }
}
